@charset "utf-8";

/* Html  and body basic layout centering the content in the middle. */
html {
    width: 100%;
    height: 100%;
    background: url(main_BackGround.png) fixed;
    background-size: cover;
}

body {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

/* Header Title styles made the title into a clickable link to take the user back to the home page  */

header img#mainLogo {
    width: 35%;
    display: block;
    float: left;
    clear: both;

}

/* Nav styles and header nav styles*/
header nav {
    clear: both;
    width: 100%;
    display: block;

}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    width: 25%;
    display: block;
    float: left;
    text-align: center;

}

nav.mainlinks a:visited,
nav.mainlinks a:link {
    color: #58585a;
    text-decoration: none;
    font-size: 1.4vw;
    list-style-type: none;
}


nav.mainlinks a:hover,
nav.mainlinks a:active {
    color: #f6841f;
    text-decoration: underline;
}

/* Contact Form Styles */
h1 {
    margin: 10px 0 0 0;
}

h4 {
    margin: 0 0 20px 0;
}

/* 
The divs with the articals inside need to make it conform to the rest of the page

*/

/* typewriter styles and animation  */
div article h1,
h1#donateh1 {
    background: linear-gradient(to right, black 0%, rgb(255, 153, 0) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    border-right: .10em solid black;
    margin: 0 auto;
    letter-spacing: 1px;
    animation: typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* the typing effeect makes sure the content isnt diplayed until the animation is complete */
@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

/*  the blinking effect so it has that type writerfeel to it  */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black
    }
}

/* makes the text a gradiant coloring  */
div article p {
    background: linear-gradient(to right, black 0%, rgb(255, 153, 0) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div.mainArts {
    width: 40%;
    display: block;
    float: left;
    padding: 10px;
    margin-left: 5%;
    margin-top: 3%;
}

div.mainArts article p {
    display: block;
    clear: both;
    margin-left: 3%;
}

/*  Contact Form styles  */
#contact-wrap {
    font-family: 'Lato', calibri, arial;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    color: #fff;
    overflow: auto;
}

#contact-area {

    width: 300px;
    padding: 20px;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 342px;
    font-family: 'Lato', calibri, arial;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid orange;
    border-right: 1px solid transparent;

    margin-bottom: 15px;
}

#contact-area textarea {
    height: 150px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid orange;
    border-right: 1px solid transparent;

}

#contact-area textarea:focus,
#contact-area input:focus {
    background-color: #333;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;

}

/* Submit button */
#contact-area input.submit-button {
    font-family: 'Lato', calibri, arial;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
    float: left;
    background-color: transparent;
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;

    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {

    color: #fff;
    background-color: #333;
}

/*  Donation form (Tax Refundable Donations!!) */

div.donateBox {
    margin-top: 3%;
    display: block;
    width: 32%;
    float: right;
}



div.donateBox div.donationForm form input.submit-button {
    font-family: 'Lato', calibri, arial;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    float: left;
    background-color: transparent;
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;

    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

div.donateBox div.donationForm form input.submit-button:hover {
    color: #fff;
    background-color: #333;
}

div.donateBox div.donationForm form input {
    padding: 5px;
    width: 342px;
    font-family: 'Lato', calibri, arial;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid orange;
    border-right: 1px solid transparent;

    margin-bottom: 15px
}

div.donateBox div.donationForm form input:focus {
    background-color: #333;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;

}

div.donateBox div.donationForm form legend,
legend {
    padding: 5px;
    width: 342px;
    font-family: 'Lato', calibri, arial;
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
    background-color: transparent;
    text-decoration-line: underline;
    text-decoration-color: orange;
    text-decoration-style: solid;
}